.main{
  background-color: "red";
}
.mySlide{
  width: 20px;
}
.myFooter{
  width: 100%;
  background-color: #007aff;
  padding: 5px;
  text-align: center;

}
.mySponsers{
  display: flex;
  justify-content: space-evenly;

}